---
http_interactions:
- request:
    method: post
    uri: https://api.abacatepay.com/v2/customers/create
    body:
      encoding: UTF-8
      string: '{"name":"Maria Teste","email":"test-customer@example.com","taxId":"39053344705"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ABACATEPAY_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '96'
      Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":"cust_W6D0dFTwQcaCPuCpLFYSb2y0","devMode":true,"email":"operator@example.com","taxId":"39053344705","country":null,"name":"Test
        User","cellphone":"00000000000","zipCode":null,"metadata":{}},"error":null}'
  recorded_at: Sun, 03 May 2026 03:15:44 GMT
recorded_with: VCR 6.4.0
